APP_ENV=production
APP_URL=https://puntorosa.ordena.garciacore.com
DB_HOST=db
DB_PORT=3306
DB_DATABASE=ordena
DB_USERNAME=ordena
DB_PASSWORD=cambia_esta_clave
MYSQL_ROOT_PASSWORD=cambia_root
REDIS_HOST=redis
